<h2>商品の編集</h2>
<%= form_for @vegetable do |f| %>
  <label>商品名</label>
  <%= f.text_field :title %>

  <label>商品の画像</label>
  <%= f.file_field :image %>
  
  <label>商品内容</label>
  <%= f.text_area :description %>
  

   <label>商品の生産県</label>
  <%= f.text_field :prefecture %>

  <p>商品の内容 content追加</p>
  <p>商品の値段 price追加</p>

  <%= f.submit %>


<% end %>