<h2>投稿詳細</h2>
<p>タイトル：<%= @vegetable.title %></p>
<p>生産県:<%= @vegetable.prefecture %></p>
<p>内容：<%= @vegetable.content %></p>
<p>値段：<%= @vegetable.price %></p>
<p>内容：<%= @vegetable.description %></p>
<p>{{野菜の写真が入ります}}</p>
<p>生産者：<%=@vegetable.shop.name  %></p>

<a href="#">生産者にDMする</a>
<% if @vegetable.shop == current_shop %>

  <%= link_to "編集", edit_vegetable_path(@vegetable) %>
  <%= link_to "削除", vegetable_path(@vegetable), method: :delete %>

<% end %>

コメント
<hr>
<p>野菜に対してコメントしたユーザー画像と、コメント内容が表示されます</p>