<!-- 部分テンプレート化予定-->
<% if user_signed_in? %>
  ~<%= current_user.name %>がログインしてます~
  <%= link_to "ログアウト", destroy_user_session_path ,:method => :delete %>

<% elsif shop_signed_in? %>
  ~<%= current_shop.name %>がログインしてます~
  <%= link_to "ログアウト", destroy_shop_session_path ,:method => :delete %>

<% else %>
  <h3>ユーザー</h3>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規登録", new_user_registration_path %>
  <h3>ショップ</h3>
  <%= link_to "ログイン", new_shop_session_path %>
  <%= link_to "新規登録", new_shop_registration_path %>
<% end %>
<!--ここまで部分テンプレート化予定-->

<h2>投稿詳細</h2>
<p>タイトル：<%= @vegetable.title %></p>
<p>生産県:<%= @vegetable.prefecture %></p>
<p>内容：<%= @vegetable.content %></p>
<p>値段：<%= @vegetable.price %></p>
<p>内容：<%= @vegetable.description %></p>
<p><%= image_tag @vegetable.image.to_s %></p>
<p>生産者：<%=@vegetable.shop.name  %></p>
<p>生産者の画像 <%= image_tag @vegetable.shop.image.to_s %></p>

<a href="#">生産者にDMする</a>
<% if @vegetable.shop == current_shop %>

  <%= link_to "編集", edit_vegetable_path(@vegetable) %>
  <%= link_to "削除", vegetable_path(@vegetable), method: :delete %>

<% end %>

コメント
<hr>
<p>野菜に対してコメントしたユーザー画像と、コメント内容が表示されます</p>