<!-- 部分テンプレート化予定-->
<% if user_signed_in? %>
  ~<%= current_user.name %>がログインしてます~
  <%= link_to "ログアウト", destroy_user_session_path ,:method => :delete %>

<% elsif shop_signed_in? %>
  ~<%= current_shop.name %>がログインしてます~
  <%= link_to "ログアウト", destroy_shop_session_path ,:method => :delete %>

<% else %>
  <h3>ユーザー</h3>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規登録", new_user_registration_path %>
  <h3>ショップ</h3>
  <%= link_to "ログイン", new_shop_session_path %>
  <%= link_to "新規登録", new_shop_registration_path %>
<% end %>
<!--ここまで部分テンプレート化予定-->

<h2>投稿詳細</h2>
<p>タイトル：<%= @vegetable.title %></p>
<p>生産県:<%= @vegetable.prefecture %></p>
<p>内容：<%= @vegetable.content %></p>
<p>値段：<%= @vegetable.price %></p>
<p>内容：<%= @vegetable.description %></p>
<p><%= image_tag @vegetable.image.to_s %></p>
<p>生産者：<%=@vegetable.shop.name  %></p>
<p>生産者の画像 <%= image_tag @vegetable.shop.image.to_s %></p>

<a href="#">生産者にDMする</a>
<% if @vegetable.shop == current_shop %>
  <%= link_to "編集", edit_vegetable_path(@vegetable) %>
  <%= link_to "削除", vegetable_path(@vegetable), method: :delete %>
<% end %>

  <%= form_for [@vegetable, @comment] do |f| %>
  <%= f.text_field :content %>
   <%= f.hidden_field :vegetable_id, value: @vegetable.id %>
  <br>
  <%= f.submit "コメントする" %>
  <% end %>

<hr>

<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
  <% if comment.user_id == current_user.id %>
   <%= link_to "削除", comment_path(comment.id), method: :delete %>
  <% end %>
<% end %>